<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World, with Bulma
    </h1>
  </div>


  <div id="editor" class="draggable">
    <p>Here goes the initial content of the editor.</p>
  </div>
</section>