<section class="section">
  <div class="columns">
    <div class="column box is-half">
      <div id="editor" class="draggable">
        <p>Here goes the initial content of the editor.</p>
      </div>
    <div>
  </div>
</section>